[submodule "CAP/LogicForCategories"]
	path = CAP/LogicForCategories
	url = https://github.com/sebastianpos/LogicForCategories.git
[submodule "ModulePresentationsForCAP/LogicForModulePresentations"]
	path = ModulePresentationsForCAP/LogicForModulePresentations
	url = https://github.com/sebastianpos/LogicForModulePresentations.git
