/maketest.g
/doc/*.xml

/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf

.deps/
.dirstamp
.libs/

/aclocal.m4
/autom4te.cache/
/bin/
/cnf
/config.log
/config.status
/configure
/lib/
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/Makefile
/Makefile.in
/src/pkgconfig.h
/src/stamp-h1

*.la
src/*.lo

/tmp/
/gh-pages/

stats
coverage.json
