version: 2
jobs:
  build:
    docker:
      - image: gapsystem/gap-docker:latest
    working_directory: ~/.gap/pkg/CAP_project
    steps:
      - checkout
      - run: |
          sudo apt install -y texlive-latex-extra texlive-science curl
          cd ..
          git clone --depth 1 https://github.com/homalg-project/homalg_project
          cd CAP_project
          echo "SetUserPreference(\"PackagesToLoad\", []);" > ~/.gap/gap.ini
          sed 's/  SuggestedOtherPackages := \[ \[ "Browse", ">=0" \] \],/  SuggestedOtherPackages := [ ],/g' -i ~/.gap/pkg/CAP_project/CAP/PackageInfo.g
          make ci-test
          bash <(curl -s https://codecov.io/bash)
