name: Tests

on:
  push:
    branches:
      - "master"
      - "*-ci"
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    strategy:
      matrix:
        image: [gapsystem/gap-docker, gapsystem/gap-docker-master]
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v1
      - run: mkdir -p /home/gap/.gap/pkg/
      - run: sudo cp -a $GITHUB_WORKSPACE /home/gap/.gap/pkg/
      - run: sudo chown -R gap:gap /home/gap/.gap/pkg/
      - run: |
          export HOME="/home/gap"
          cd /home/gap/.gap/pkg/
          sudo apt update
          sudo apt dist-upgrade -y
          sudo apt install -y texlive-latex-extra texlive-fonts-extra
          git clone --depth 1 https://github.com/gap-packages/AutoDoc.git
          git clone --depth 1 https://github.com/homalg-project/homalg_project.git
          git clone --depth 1 https://github.com/homalg-project/CAP_project.git
          git clone --depth 1 https://github.com/homalg-project/CategoryConstructor.git
          git clone --depth 1 https://github.com/homalg-project/SubcategoriesForCAP.git
          git clone --depth 1 https://github.com/homalg-project/Locales.git
          git clone --depth 1 https://github.com/homalg-project/ZariskiFrames.git
          git clone --depth 1 https://github.com/homalg-project/LazyCategories.git
          git clone --depth 1 https://github.com/homalg-project/FinSetsForCAP.git
          git clone --depth 1 https://github.com/homalg-project/HigherHomologicalAlgebra.git
          git clone --depth 1 https://github.com/homalg-project/QPA2.git
          # set SOURCE_DATE_EPOCH for reproducible PDFs
          export SOURCE_DATE_EPOCH=0
          TERM=dumb make -C Toposes -j $(nproc) --output-sync ci-test
          TERM=dumb make -C FinSetsForCAP -j $(nproc) --output-sync ci-test
          TERM=dumb make -C Locales -j $(nproc) --output-sync ci-test
          TERM=dumb make -C ZariskiFrames -j $(nproc) --output-sync ci-test
          cp ./Toposes/.codecov.yml ./
          curl -s https://codecov.io/bash | bash
